/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  background-color: #fff;
  box-shadow: 15px 20px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  text-align: center;
}

.flashcard {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.flashcard.correct {
  background-color: #c8e6c9;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.flashcard.incorrect {
  background-color: #ffcdd2;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.feedbackMessage {
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  text-align: center; /* Center-align the text input */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
}

button:hover {
  background-color: #3f9243;
  color: #fff; /* Change text color on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow on hover */
}

.flashcard.correct {
  background-color: #c8e6c9; /* Green background for correct */
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.flashcard.incorrect {
  background-color: #ffcdd2; /* Red background for incorrect */
  transform: translateX(100%);
  transition: transform 0.3s;
}
